BELLUM_DATABASE_URL=postgresql+psycopg://bellum_resources:change_me@localhost:5432/bellum_resources
TEST_DATABASE_URL=postgresql+psycopg://bellum_resources:change_me@localhost:5432/bellum_resources_test
